<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Оптика у дома</title>
    <link media="all" rel="stylesheet" th:href="@{/css/header.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/footer.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/home.css}" type="text/css"/>

</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<main>
    <div class="FlexFit">
        <h1>Оптика у дома</h1>

        <div class="clubdisc">
            <p>«Оптика у дома» - это салоны оптики в более чем пятидесяти городах России и огромный интернет-магазин очков и оправ, где можно оформить заказ онлайн. Мы работаем во имя того, чтобы ваш взгляд всегда был счастливым, а глаза – здоровыми.

                Если вы нуждаетесь в коррекции зрения, подбираете максимально качественные и безопасные очки ребенку, ищете эффектную брендовую модель солнцезащитных очков или выбираете линзы для глаз – ждем вас в ближайшем салоне или на страницах нашего интернет-ресурса. Большой каталог офтальмологических изделий и профессиональные консультации – залог оптимального выбора.
            </p>
            <h2>Преимущества наших оптик: </h2>
                <ul>
                    <li>Большой ассортимент.</li>
                    <li>Доступные цены.</li>
                    <li>Быстрая доставка заказанной модели в салон.</li>
                    <li>Возможность примерки перед покупкой.</li>
                    <li>Гарантия качества и оригинальности всей фирменной продукции.</li>
                    <p>Покупка очков – ответственное мероприятие! Независимо от того, идет ли речь о стильном аксессуаре или об изделии для корректировки зрения. Каждая наша оптика гарантирует вам экспертные консультации по подбору и качество каждого изделия. Наши клиенты могут воспользоваться круглосуточной помощью службы поддержки по всем вопросам, касающимся оптических принадлежностей.</p>
                </ul>

        </div>

        <div class="images">
            <img src="/images/home1.jpg">
            <img src="/images/home2.jpg">
            <img src="/images/home3.jpg">
        </div>
    </div>
</main>

<footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>