<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">

    <link media="all" rel="stylesheet" th:href="@{/css/header.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/footer.css}" type="text/css"/>
    <link media="all" rel="stylesheet" th:href="@{/css/registration.css}" type="text/css"/>

</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>



<div class="signup-form">

    <div>Регистрация</div>

    <form th:action="@{/registration}" method="post">
        <input type="text" name="username" placeholder="Имя пользователя"/>
        <input type="password" name="password"  placeholder="Пароль"/>
        <input type="email" name="email" placeholder="Почта"/>
        <input type="submit" value="Зарегистрироваться"/>
    </form>

    <div>Уже есть аккаунт? <a href="/login">Войти</a></div>
</div>

<footer th:insert="~{blocks/footer :: footer}"></footer>

</body>
</html>